.chainContainer {
  width: 100%;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #0048FF;
}

.chainContainerPositive {
  width: 100%;
  border-radius: 30px !important;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #4aa166;
}

.tryButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px !important;
}

.descriptionPreText {
  padding-top: 30px;
  font: normal normal 300 13px/16px Inter !important;
  opacity: 0.54;
}

.descriptionText {
  padding-top: 12px;
  font: normal normal bold 28px/34px Inter !important;
}

.descriptionSubText {
  padding-top: 12px;
  font: normal normal 300 13px/16px Inter !important;
  opacity: 0.54;
}

.descriptionUnlock {
  padding-top: 12px;
  font: normal normal 300 13px/16px Inter !important;
}

.topInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 30px;
}

.bottomActions {
  border-top: 1px solid #FFFFFF1A;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6px 24px;
}


.buttonLabel {
  text-transform: none !important;
  font-weight: 500 !important;
}

.buttonText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  background-color: #0053FF;
  border-radius: 90px;
  font-size: 63px !important;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 7px 7px #0000000A;
  -webkit-box-shadow: 0px 7px 7px #0000000A;
  -moz-box-shadow: 0px 7px 7px #0000000A;
}
